<!DOCTYPE html>
<html>
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>DatLuan Laptop We Serve The Best!</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- site icons -->
    <link rel="icon" href="~/Templates/IT-Next/images/fevicon/fevicon.png" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Templates/IT-Next/css/bootstrap.min.css" />
    <!-- Site css -->
    <link rel="stylesheet" href="~/Templates/IT-Next/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Templates/IT-Next/css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="~/Templates/IT-Next/css/colors1.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Templates/IT-Next/css/custom.css" />
    <!-- wow Animation css -->
    <link rel="stylesheet" href="~/Templates/IT-Next/css/animate.css" />
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="~/Templates/IT-Next/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/Templates/IT-Next/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="~/Templates/IT-Next/revolution/css/navigation.css" />

    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>
<body id="default_theme" class="it_service" onload="DateTime()">

    <!-- loader -->
    <div class="bg_load"> <img class="loader_animation" src="~/Templates/IT-Next/images/loaders/loader_1.png" alt="#" /> </div>
    <!-- end loader -->
    <!-- header -->
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">Huflit, District 10, Ho Chi Minh City</span> </li>
                                    <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:thanhdat7999@gmail.com">thanhdat7999@gmail.com</a> || <a href="mailto:congluantran01@gmail.com">congluantran01@gmail.com</a></span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right_section_header_top">
                        <div class="float-left">
                            <div class="social_icon">
                                <ul class="list-inline">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/natsu.dragonell007/" title="Facebook" target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="thanhdat7999@gmail.com" title="Google+" target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com/ThanhDat7999" title="Twitter" target="_blank"></a></li>
                                    <li><a class="fa fa-instagram" href="https://www.instagram.com/thanhdat_7999/" title="Instagram" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Shared/_Partition.cshtml")
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->
                        <div class="logo"> <a href="@Url.Action("Index","Home", new { area=""})"><img src="~/Templates/IT-Next/images/logos/laptopLG.png" alt="logo" /></a> </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        <a class="active" href="@Url.Action("Index","Home", new { area=""})">Home</a>
                                    </li>
                                    <li><a href="@Url.Action("Menu","Home", new { area=""})">Menu</a></li>
                                    <li><a href="@Url.Action("HistoryOrder","OrderProgress", new { area=""})">Order</a></li>
                                    <li><a href="@Url.Action("Index","Cart", new { area=""})">Cart @ViewData["countCartProducts"]</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("ChatRoom","Home", new { area=""})">Chat Room</a></li>
                                    }
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <li><a href="@Url.Action("Index","AdminHome", new { area="Admin"})">Admin Page</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="search_icon">
                                <ul>
                                    <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <!-- end header -->
    @RenderBody()
    <!-- Modal -->
    <div class="modal fade" id="search_bar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
                            <div class="navbar-search">
                                <form action="@Url.Action("Search","Home")" method="get" id="search-global-form" class="search-global">
                                    <input type="text" placeholder="Type to search" autocomplete="off" name="search" id="search" value="" class="search-global__input">
                                    <button type="submit" class="search-global__btn"><i class="fa fa-search"></i></button>
                                    <div class="search-global__note">Begin typing your search above and press return to search.</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Model search bar -->
    <!-- footer -->
    <footer class="footer_style_2">
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-6">
                    <div class="main-heading left_text">
                        <h2>Visit Our Social Net Work</h2>
                    </div>
                    <ul class="footer-menu">
                        <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> https://www.facebook.com/</a></li>
                        <li class="tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> https://twitter.com/ThanhDat7999</a></li>
                        <li class="gp"><a href="mailto:thanhdat7999@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i> thanhdat7999@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="main-heading left_text">
                        <h2>Additional links</h2>
                    </div>
                    <ul class="footer-menu">
                        <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Chat Room</a></li>
                        <li><a href="it_privacy_policy.html"><i class="fa fa-angle-right"></i> Home Page</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="main-heading left_text">
                        <h2>Services</h2>
                    </div>
                    <ul class="footer-menu">
                        <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Menu Products</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="main-heading left_text">
                        <h2>Store Address</h2>
                    </div>
                    <p>
                        Huflit university 828 Su Van Hanh,<br>
                        District 10, Ho Chi Minh City<br>
                        <span style="font-size:18px;"><a href="tel:+0773075568">+0773075568</a></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- js section -->
    <script src="~/Templates/IT-Next/js/jquery.min.js"></script>
    <script src="~/Templates/IT-Next/js/bootstrap.min.js"></script>
    <!-- menu js -->
    <script src="~/Templates/IT-Next/js/menumaker.js"></script>
    <!-- wow animation -->
    <script src="~/Templates/IT-Next/js/wow.js"></script>
    <!-- custom js -->
    <script src="~/Templates/IT-Next/js/custom.js"></script>
    <!-- revolution js files -->
    <script src="~/Templates/IT-Next/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Templates/IT-Next/revolution/js/extensions/revolution.extension.video.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
