
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Carousel -->
<div id="slider" class="section main_slider">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Templates/IT-Next/images/it_service/slide1.jpg" alt="#" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Carousel -->
<!-- section -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Why Choose Us</h2>
                        <p class="large">We service with best price!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="full text_align_center margin_bottom_30">
                    <div class="center">
                        <div class="icon"> <img src="~/Templates/IT-Next/images/it_service/i1.png" alt="#" /> </div>
                    </div>
                    <br />
                    <h4 class="theme_color">Various Products</h4>
                    <p>In here we have various products to serve!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="full text_align_center margin_bottom_30">
                    <div class="center">
                        <div class="icon"> <img src="~/Templates/IT-Next/images/it_service/i2.png" alt="#" /> </div>
                    </div>
                    <br />
                    <h4 class="theme_color">Easy to use in our website</h4>
                    <p>You dont have to go to stores just stay home one click then we'll transport products to you!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="full text_align_center margin_bottom_30">
                    <div class="center" style="height:73.06px">
                        <div class="icon"> <img src="~/Templates/IT-Next/images/it_service/si2.png" alt="#" style="height: 73.06px; filter:grayscale(70%)" /> </div>
                    </div>
                    <br />
                    <h4 class="theme_color">Resonable Price</h4>
                    <p>Our store have a RESONABLE PRICE to all products!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="full text_align_center margin_bottom_30 margin_0">
                    <div class="center">
                        <div class="icon"> <img src="~/Templates/IT-Next/images/it_service/si3.png" alt="#" style="height: 73.06px; filter:grayscale(70%)" /> </div>
                    </div>
                    <br />
                    <h4 class="theme_color">Connect Customers and Admin</h4>
                    <p>We have a chat room for customers and admin discuss with each other!</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Our Products</h2>
                        <p class="large">We package the products with best services to make you a happy customer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewData["random"] as IEnumerable<TMDT_Web.Models.Domain.Product>)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"><a href="@Url.Action("Detail","Home",new { id=item.ProductID})"><img class="img-responsive card-img" src="~/Images/Products/@item.Image" alt=""> </a></div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="it_shop_detail.html">@item.ProductName</a></h4>
                            </div>
                            <div class="product_price">
                                <p><span class="old_price">$15.00</span> – <span class="new_price">@item.Price VND</span></p>
                            </div>
                            <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="@Url.Action("Buy","Cart",new { id=item.ProductID})">Thêm Vào Giỏ</a> </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="center"><a class="btn-link" href="@Url.Action("Menu","Home", new {type=1})">See More</a></div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Products Popular</h2>
                        <p class="large">We package the products with best services to make you a happy customer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewData["viewCount"] as IEnumerable<TMDT_Web.Models.Domain.Product>)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"><a href="@Url.Action("Detail","Home",new { id=item.ProductID})"><img class="img-responsive card-img" src="~/Images/Products/@item.Image" alt=""> </a></div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="it_shop_detail.html">@item.ProductName</a></h4>
                            </div>
                            <div class="product_price">
                                <p><span class="old_price">$15.00</span> – <span class="new_price">@item.Price VND</span></p>
                            </div>
                            <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="@Url.Action("Buy","Cart",new { id=item.ProductID})">Thêm Vào Giỏ</a> </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="center"><a class="btn-link" href="@Url.Action("Menu","Home", new {type=2})">See More</a></div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Latest Products</h2>
                        <p class="large">We package the products with best services to make you a happy customer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewData["viewLatest"] as IEnumerable<TMDT_Web.Models.Domain.Product>)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"><a href="@Url.Action("Detail","Home",new { id=item.ProductID})"><img class="img-responsive card-img" src="~/Images/Products/@item.Image" alt=""> </a></div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="it_shop_detail.html">@item.ProductName</a></h4>
                            </div>
                            <div class="product_price">
                                <p><span class="old_price">$15.00</span> – <span class="new_price">@item.Price VND</span></p>
                            </div>
                            <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="@Url.Action("Buy","Cart",new { id=item.ProductID})">Thêm Vào Giỏ</a> </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="center"><a class="btn-link" href="@Url.Action("Menu","Home", new {type=3})">See More</a></div>
    </div>
</div>
<!-- end section -->

@if (User.Identity.IsAuthenticated)
{
    <!--Chat box-->
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1>Chat</h1>

            <label for="msg"><b>Message</b></label>

            <div class="panel-body" id="chat" style="height:250px; width:300px">
                <input type="hidden" id="userid" value="@Model.UserID" />
                <input type="hidden" id="displayname" value="@Model.UserName" />
                <p id="discussion"></p>
            </div>

            <input id="message" type="text" name="message" class="form-control input-sm" placeholder="Text here..." />
            <input type="button" class="btn btn-warning btn-sm" id="sendmessage" value="Send!" />
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
}

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>


@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (id, name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(id) + ':' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };
            // Get the user name and store it to prepend to messages.
            $('#displayname').val();
            // Get the user id and store it to prepend to messages.
            $('#userid').val();
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#userid').val(), $('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
<!--End Chat box-->
