
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">User Page</h1>
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("Index","Home",new { area=""})">Home</a></li>
                                <li class="active">User Page</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->

<div class="row">
    <div class="col-lg-12">
        <div class="side_bar_blog col-lg-3">
            <h4>OUR SERVICE</h4>
            <div class="categary">
                <ul>
                    <li><a href="@Url.Action("Index","AdminHome",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Home</a></li>
                    <li><a href="@Url.Action("Management","Finance",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Finance Management</a></li>
                    <li><a href="@Url.Action("index","discount",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Create Discount</a></li>
                    <li><a href="@Url.Action("Index","Company",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Companies</a></li>
                    <li><a href="@Url.Action("Index","Brand",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Brands</a></li>
                    <li><a href="@Url.Action("Index","Product",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Products</a></li>
                    <li><a href="@Url.Action("Index","User",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Users</a></li>
                    <li><a href="@Url.Action("Index","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders</a></li>
                    <li><a href="@Url.Action("ordersAccept","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders Accepted</a></li>
                    <li><a href="@Url.Action("ordersWaiting","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders Waiting</a></li>
                    <li><a href="@Url.Action("ordersTrans","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders Transported</a></li>
                    <li><a href="@Url.Action("ordersFinish","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders Finish</a></li>
                    <li><a href="@Url.Action("ordersCancel","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders Cancel</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 float-left" style="margin-top:30px">
            <table class="table table-danger">
                <tr>
                    <th colspan="4"><h4 class="center">Manager</h4></th>
                </tr>
                <tr>
                    <th><h5>Users</h5></th>
                    <td colspan="3"><h6> @ViewBag.userCount</h6></td>
                </tr>
                <tr>
                    <th><h5>Companies</h5></th>
                    <td colspan="3"><h6> @ViewBag.companyCount</h6></td>
                </tr>
                <tr>
                    <th><h5>Brands</h5></th>
                    <td colspan="3"><h6> @ViewBag.brandCount</h6></td>
                </tr>
                <tr>
                    <th><h5>Products</h5></th>
                    <td colspan="3"><h6> @ViewBag.productCount</h6></td>
                </tr>
                <tr>
                    <th><h5>Orders</h5></th>
                    <td>
                        <ul>
                            <li><h6>@ViewBag.orderCount</h6></li>
                            <li><h6>Waiting: @ViewBag.waiting / @ViewBag.orderCount</h6></li>
                            <li><h6>Accept:  @ViewBag.accept / @ViewBag.orderCount</h6></li>
                            <li><h6>Cancel: @ViewBag.cancel / @ViewBag.orderCount</h6></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

