@using PagedList.Mvc;
@model PagedList.IPagedList<TMDT_Web.Models.Domain.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Products List</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Products List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->

<div class="row">
    <div class="col-lg-12">
        <div class="side_bar_blog col-lg-3">
            <h4>OUR SERVICE</h4>
            <div class="categary">
                <ul>
                    <li><a href="@Url.Action("Index","AdminHome",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Home</a></li>
                    <li><a href="@Url.Action("Index","Company",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Companies</a></li>
                    <li><a href="@Url.Action("Index","Brand",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Brands</a></li>
                    <li><a href="@Url.Action("Index","Product",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Products</a></li>
                    <li><a href="@Url.Action("Index","User",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Users</a></li>
                    <li><a href="@Url.Action("Index","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Orders</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 float-left" style="margin-top:30px">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Brand.Company.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Brand.BrandName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            <img src="~/Images/Products/@Html.DisplayFor(modelItem => item.Image)" style="height:100px; width:100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand.Company.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand.BrandName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                        </td>
                    </tr>
                }
            </table>
            <div class="center col-md-12 col-sm-6 col-xs-12 margin_bottom_30_all">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Product", new { area = "Admin", page }))
            </div>
        </div>
    </div>
</div>

